<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Directory</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div class="user">
      <div class="primary">
        <figure>
          <img src="{{imageurl}}">
        </figure>
        <div class="contact">
          <h1>{{name}}</h1>
          <p>
          {{#address}}
          {{address}}
          {{city}}, {{state}} {{postal_code}}
          {{/address}}
          |
          {{#job}}
          {{job}}, {{company}}
          {{/job}}
          {{^job}}
          <span class="nojob">Available for Hire</span>
          {{/job}}
          </p>
          <p>{{email}}</p>
        </div>
      </div>
      <div class="details">
        <dl>
          {{#university}}
          <dt>Education</dt>
          <dd>{{university}}</dd>
          {{/university}}
          <dt>Year Built</dt>
          <dd>{{year_built}}</dd>
          <dt>Next Service Date</dt>
          <dd>{{next_service_date}}</dd>
        </dl>
      </div>
    </div>
  </body>
</html>
